---
layout: page
title: "Resume"
header-img: "img/contact-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    
<div class="article-inner">
        <header class="article-header">
            <h2 class="article-title" itemprop="name">个人简历 </h2>
        </header>
        <div class="article-info article-info-post">
            <h3 id="严士东"><a href="#严士东" class="headerlink" title="严士东"></a>严士东</h3>
            <ul>
                <li><strong>职位意向</strong>：c++研发相关、游戏研发相关</li>
                <li><strong>Tel</strong>: +86 13070161381</li>
                <li><strong>Email</strong>: <a href="mailto:ysdysdysdysd123@163.com">ysdysdysdysd123@163.com</a></li>
                <li><strong>GitHub</strong>: <a href="https://github.com/10123815" target="_blank" rel="external">https://github.com/10123815</a></li>
                <li><strong>Blog</strong>: <a href="http://10123815.github.io">http://10123815.github.io</a></li>
            </ul>
            <h3 id="教育背景"><a href="#教育背景" class="headerlink" title="教育背景"></a>教育背景</h3>
            <ul>
                <li><strong>北京邮电大学 研究生 信息与通信工程专业 移动云计算方向</strong> <em>(2014.09 - 2017.04)</em>
                </li>
            </ul>
            <h3 id="实习经历"><a href="#实习经历" class="headerlink" title="实习经历"></a>实习经历</h3>
            <ul>
                <li><strong>阿里巴巴 YunOS 【研发工程师】</strong> <em>(2016.06 - 至今)</em> 
                <li>所在团队主要负责YunOS4.0电话应用的开发，使用Node.js</li>
                    <ul>
                        <li>电话应用UI开发（包括Animation部分和Layout部分）</li>
                        <li>电话应用外围功能逻辑开发（包括使用云服务查询联系人信息等）</li>
                    </ul>
                </li>
            </ul>
            <h3 id="项目经验"><a href="#项目经验" class="headerlink" title="项目经验"></a>项目经验</h3>
            <ul>
                <li><a href="https://github.com/10123815/aoi-segment-tree" target="_blank" rel="external"><strong>aoi-segment-tree</strong></a><em>(2016.4 - 2016.5)</em>
                    <ul>
                        <li>一个AOI(area of interesting)库,使用C++编写,并提供JavaScript api.</li>
                        <li>使用两颗线段树保存游戏对象的X/Y坐标,插入/移除游戏对象、更新游戏对象的位置只需要O(logn)时间,查询某范围内的游戏对象需要O(klogn)时间(k为查找范围)。</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li><a href="https://github.com/10123815/phy-2d" target="_blank" rel="external"><strong>phy-2d</strong></a><em>(2016.6 - 2015.8)</em>
                    <ul>
                        <li>一个简单的2d碰撞检测引擎,使用C++编写,并提供JavaScript api.</li>
                        <li>该引擎使用四叉树做broad phase 使用GJK算法做narrow phase 支持任意多边形、圆形之间的碰撞检测。</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li><a href="https://github.com/10123815/HeBT" target="_blank" rel="external"><strong>HeBT</strong></a><em>(2015.12 - 2016.2)</em>
                    <ul>
                        <li>一个主要用于Unity3D的游戏人工智能框架，基于Hinted-Execution Behaviour Tree（一种分层的、可以动态调整节点执行顺序的行为树）和黑板数据结构，使得游戏开发者可以快速开发基于行为树的高扩展性，高灵活性AI.</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li><a href="https://github.com/10123815/Diabloo" target="_blank" rel="external"><strong>Diabloo</strong></a><em>(2015.4 - 2015.7)</em>
                    <ul>
                        <li>一款3D ARPG 手机游戏，使用Unity3D开发。</li>
                        <li>实现了ARPG游戏的基本功能：职业选择，技能树系统（基于C#反射机制），自由视角的战斗系统，任务系统，怪物AI等。</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li><a href="https://github.com/10123815/RandomMapGenerator" target="_blank" rel="external"><strong>RandomMapGenerator</strong></a><em>(2015.11 - 2015.12)</em>
                    <ul>
                        <li>一个基于柏林噪声的Unity3D随机地形生成器，帮助场景设计人员快速设计具有良好海岸线、岛屿、海拔等特征的随机地形。</li>
                    </ul>
                </li>
            </ul>
            <h3 id="技术栈"><a href="#技术栈" class="headerlink" title="技术栈"></a>技术栈</h3>
                <table>
                    <tr>
                      <td>C++</td>
                      <td>★★★★★</td>
                    </tr>
                    <tr>
                      <td>Unity3D C#</td>
                      <td>★★★★</td>
                    </tr>
                    <tr>
                      <td>Node.js</td>
                      <td>★★★☆</td>
                    </tr>
                    <tr>
                      <tdPython</td>
                      <td>★★★</td>
                    </tr>
                    <tr>
                      <td>DirectX</td>
                      <td>★★</td>
                    </tr>
                    <tr>
                      <td>算法</td>
                      <td>★★★★</td>
                    </tr>
                    <tr>
                      <td>设计模式</td>
                      <td>>★★★★</</td>
                    </tr>
                </table>
        </div>
    </div>

</div>

<!-- English Version -->
<div class="en post-container">
    

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
